.container {
  overflow: hidden; // Avoid margin collapse
}

.link {
  cursor: pointer;
}

.headerText {
  font-size: 1.75em;
}

.title {
  & a {
    &,
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
