{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "eol-last": ["error"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "quotes": ["error", "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "semi": ["error", "always"],
    "max-len": ["error", 120],
    "no-console": ["off"], // we automatically strip console.log from production code, and we want to keep console.warn and console.error
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }], // only warn of unused args and vars
    "react/jsx-uses-vars": [1],      // avoid no-unused-vars for imports used as react components
    "react/jsx-uses-react": [1],     // avoid no-unused-vars for importing React
    "react/react-in-jsx-scope": [1], // make sure React is in scope when writing jsx
    "no-var": ["error"]
  }
}
