language: node_js
stages:
  - name: deploy
    if: branch = beta AND type = push AND fork = false

before_install:
  - git clone --depth=1 --branch=master https://github.com/kodeklubben/oppgaver.git ../oppgaver
  - git config --add diff.renamelimit 9999
cache: yarn
script:
  - yarn eslint
  - yarn test
  - yarn build:travis
deploy:
  provider: pages
  github-token: $GITHUB_TOKEN_BETA_SKAGEVANG
  skip-cleanup: true
  keep-history: true
  local-dir: dist
  repo: repo:kodeklubben/beta
  target-branch: gh-pages
  fqdn: oppgaver.kidsakoder.no
  on:
    branch: beta
