language: node_js
before_install:
  - git clone --depth=50 https://github.com/kodeklubben/oppgaver.git ../oppgaver
cache: yarn
script:
  - yarn eslint
  - yarn stylelint
  - yarn test
  - ./travis_build.sh
  - yarn test:links
