@import '~bootstrapStyles/mixins/buttons';
@import './variables';

@mixin button-nav($color, $background, $border, $darken) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, $darken);
    border-color: darken($border, $darken);
  }
  &:hover {
    color: $color;
    background-color: darken($background, $darken);
    border-color: darken($border, $darken);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, $darken);
    border-color: darken($border, $darken);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, $darken);
      border-color: darken($border, $darken);
    }
  }
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin button-frontpage($color, $background) {
  @include button-variant($color, $background, transparent);
  font-family: $font-family-roboto;
  font-weight: 300;
  font-size: 1.5em;
  margin: 10px 20px;
  width: 250px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  transition: all 0.1s ease-in-out;
}

.btn-student {
  @include button-variant(#fff, $color-green, $color-green-median);
}

.btn-teacher {
  @include button-variant(#fff, $color-blue, $color-blue-median);
}

.btn-language-student {
  @include button-variant($color-green-dark, transparent, $color-green-dark);
}

.btn-language-teacher {
  @include button-variant($color-blue-dark, transparent, $color-blue-dark);
}

.btn-student-frontpage {
  @include button-frontpage(white, $color-green);
}

.btn-teacher-frontpage {
  @include button-frontpage(white, $color-blue);
}

.btn-white-grey {
  @include button-variant(#000, $color-gray-lighter, $color-gray-light);
  transition: 0.1s;
  &,
  &:hover,
  &:active:focus,
  &:focus {
    outline: none;
  }
}

.btn-white-grey-lighter {
  @include button-variant(#000, $color-white-snow, $color-gray-lighter);
  transition: 0.1s;
  border-color: $color-gray-light;
  &:hover,
  &:active:focus,
  &:focus {
    outline: none;
  }
}

.btn-orange {
  @include button-variant(#fff, $color-orange-median, $color-orange-dark);
  transition: 0.1s;
}

.btn-guide {
  @include button-variant(#fff, $color-blue-median, $color-blue-dark);
  transition: 0.1s;
}

.btn-pdf {
  @include button-variant(#fff, $color-green-median, $color-green-dark);
  transition: 0.1s;
}

.btn-sm-fixed-width {
  width: 6em;
}
