@import '~bootstrapStyles/mixins/panels';
@import './variables.scss';

.panel-student {
  @include panel-variant(
    $color-green-light,
    $color-green-dark,
    $color-green-light,
    darken(adjust-hue($color-green-light, -10), 5%)
  );
  background-color: $color-green-lighter;
}

.panel-teacher {
  @include panel-variant(
    $color-blue-light,
    $color-blue-dark,
    $color-blue-light,
    darken(adjust-hue($color-blue-light, -10), 5%)
  );
  background-color: $color-blue-lighter;
}
