@import './variables';

@mixin responsiveFontSizes {
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-xs-pct;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    font-size: $font-size-sm-pct;
  }

  @media (min-width: $screen-md-min) {
    font-size: $font-size-md-pct;
  }
}

@mixin popoverButton {
  &,
  &:hover,
  &:active:focus,
  &:focus {
    background: transparent;
    text-decoration: none;
    border: none;
  }
}
