// Override bootstrap variables that have the !default flag, i.e. the values set here will be used in computing
// the derived bootstrap variables.

// table colors
$table-border-color: #000;

// list group item
$list-group-bg: inherit; // Use background color of parent, instead of forcing it to white

// general
$font-size-base: 16px; // Override bootstrap's 14px default base
