@import "pre-customizations";
@import "~bootstrapStyles/variables";

// Colors
$color-white-snow: #fafafa;
$color-gray-lighter: #f2f2f2;
$color-gray-light: #dadada;
$color-gray-medium: #a0a0a0;
$color-gray: #656565;
$color-gray-dark: #333;

$color-green: #46cc46;
$color-green-lighter: #eef7ee;
$color-green-light: #b1daae;
$color-green-median-light: #89c785;
$color-green-median: #359e37;
$color-green-dark: #265732;

$color-blue: #46cccc;
$color-blue-lighter: #eff6f6;
$color-blue-light: #a3cccb;
$color-blue-median-light: #7bb7b6;
$color-blue-median: #3a9b94;
$color-blue-dark: #215651;

$color-orange-median: #eb9114;
$color-orange-dark: #ff9500;

$lkk-green: #0fbe7c;
$lkk-dark-grey: #3a3a3a;
$lkk-grey: #444;
$lkk-offwhite: #f2f2f2;

$color-level1: $color-green;
$color-level2: #368bd8;
$color-level3: #d63838;
$color-level4: $color-gray-dark;

//	Scratch block colors
$color-scratchblock-motion:     #4C97FF;
$color-scratchblock-looks:      #9966FF;
$color-scratchblock-sound:      #CF63CF;
$color-scratchblock-pen:        #0FBD8C;
$color-scratchblock-data:       #FF8C1A;
$color-scratchblock-events:     #FFBF00;
$color-scratchblock-control:    #FFAB19;
$color-scratchblock-sensing:    #5CB1D6;
$color-scratchblock-operators:  #59C059;
$color-scratchblock-moreblocks: #FF6680;

// Fonts
$font-size-xs-pct: 106.25%; // 17px if base font is 16px
$font-size-sm-pct: 118.75%; // 19px if base font is 16px
$font-size-md-pct: 125%; // 20px if base font is 16px

$font-size-xlarge: ceil($font-size-base * 1.5);
$font-size-xsmall: ceil($font-size-base * 0.7);

$font-family-standard: Helvetica, Arial, sans-serif;
$font-family-dyslexic: 'OpenDyslexic-Regular', Helvetica, Arial, sans-serif;
