@import "pre-customizations";
@import "~bootstrapStyles/variables";

// Colors
$color-gray: #656565;
$color-gray-lighter: #e6e6e6;
$color-gray-light: #dadada;
$color-gray-dark: #333;
$color-green: #46cc46;
$color-green-light: #b1daae;
$color-green-median: #359e37;
$color-green-dark: #265732;
$color-blue: #46cccc;
$color-blue-light: #a3cccb;
$color-blue-median: #3a9b94;
$color-blue-dark: #215651;
$color-orange-median: #eb9114;
$color-orange-dark: #bc7410;

$lkk-green: #0fbe7c;
$lkk-dark-grey: #3a3a3a;
$lkk-grey: #444;
$lkk-offwhite: #f2f2f2;

// Fonts
$font-size-xs-pct: 106.25%; // 17px if base font is 16px
$font-size-sm-pct: 118.75%; // 19px if base font is 16px
$font-size-md-pct: 125%; // 20px if base font is 16px

$font-size-xlarge: ceil($font-size-base * 1.5);
$font-size-xsmall: ceil($font-size-base * 0.7);

$font-family-roboto: 'Roboto', 'Verdana', sans-serif;
$font-family-roboto-mono: 'Roboto Mono', monospace;
