@import '../../styles/variables';

.link {
  text-decoration: none !important;
  text-align: center;
  font-size: 16px;
  font-weight: 350;

  border-radius: 5px;
  padding: 7px;

  opacity: 0.85;
  transition: 0.15s;
}

/* Css for 'Rapporter et problem' */
.newIssue {
  composes: link;
  background-color: #e6e6ff;
  color: black;
}

.newIssue:hover,
.newIssue:visited {
  opacity: 1;
  color: black;
  box-shadow: inset 0 0 10px #b4c2e4;
}

/* Css for 'Vis koden og fiks selv' */
.showCode {
  composes: link;
  background-color: #ec971f;
  color: white;
}

.showCode:hover,
.showCode:visited {
  opacity: 1;
  color: white;
  box-shadow: inset 0 0 10px #d38312;
}

.fontImprovePageBox {
  font-family: $font-family-roboto;
  font-weight: 300;
  font-size: 14px;
}

/* Container for hele improve box */
.improvePageBox {
  composes: fontImprovePageBox;
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 1px 5px 5px 5px;
  margin: 10px auto;
  max-width: 650px;
  border-radius: 10px;
  div{
    margin: 0 20px;
  }
}

.improvePageBoxRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div {
    margin: 10px 30px;
  }
}

/* Student / Teacher mode */
.improvePageBoxStudent {
  composes: improvePageBox;
  background-color: $color-green-light;
}

.improvePageBoxTeacher {
  composes: improvePageBox;
  background-color: $color-blue-light;
}
