@import '../../styles/variables';

.font {
  font-family: $font-family-roboto;
  font-weight: 300;
  font-size: 1em;
}

/* Container for improve box */
.container {
  margin: 10px 30px;
}

.improvePageBox {
  composes: font;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  margin: auto;
  max-width: 650px;
  border-radius: 10px;
}

/* Row containing the text */
.textRow {
  margin: 5px 20px 15px;
}

/* Row containing the links */
.linkRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div {
    margin: 10px 30px;
  }
}

/* Student / Teacher mode */

/* Box shadow inset used to highlight box so it differentiates better from other objects */
.student {
  composes: improvePageBox;
  background-color: $color-green-light;
  box-shadow: inset 0 0 85px #89c785;
}

/* Works as a <hr/> to differentiate text and links */
.student .textRow {
  box-shadow: 0 8px 6px -6px #89c785;
}

/* Box shadow inset used to highlight box so it differentiates better from other objects */
.teacher {
  composes: improvePageBox;
  background-color: $color-blue-light;
  box-shadow: inset 0 0 85px #7bb7b6;
}

/* Works as a <hr/> to differentiate text and links */
.teacher .textRow {
  box-shadow: 0 8px 6px -6px #7bb7b6;
}

/* Media screen */
@media only screen and (max-width: 300px) {
  .textRow {
    max-width: 150px;
  }
}
