@import '../../styles/variables';

.link {
  &, &:focus, &:hover {
    text-decoration: none;
  }
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  border-radius: 5px;
  padding: 7px;
  opacity: 0.85;
  transition: 0.15s;
}

/* Css for 'Rapporter et problem' */
.newIssue {
  composes: link;
  background-color: #e6e6ff;
  color: black;
}

.newIssue:hover,
.newIssue:visited {
  opacity: 1;
  color: black;
  box-shadow: inset 0 0 10px #b4c2e4;
}

/* Css for 'Vis koden og fiks selv' */
.showCode {
  composes: link;
  background-color: #ec971f;
  color: white;
}

.showCode:hover,
.showCode:visited {
  opacity: 1;
  color: white;
  box-shadow: inset 0 0 10px #d38312;
}

.fontImprovePageBox {
  font-family: $font-family-roboto;
  font-weight: 300;
  font-size: 1em;
}

/* Container for hele improve box */
.container{
  margin: 10px 30px;
}

.improvePageBox {
  composes: fontImprovePageBox;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  margin: auto;
  max-width: 650px;
  border-radius: 10px;
}

/* Row containing the text */
.improvePageBoxTextRow{
  margin: 5px 20px;
}

/* Row containing the links */
.improvePageBoxLinkRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div {
    margin: 10px 30px;
  }
}

/* Student / Teacher mode */
.improvePageBoxStudent {
  composes: improvePageBox;
  background-color: $color-green-light;
}

.improvePageBoxTeacher {
  composes: improvePageBox;
  background-color: $color-blue-light;
}

/* Media screen */
@media only screen and (max-width: 450px) {
  .link {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 375px) {
  .link {
    font-size: 0.7em;
  }
}