@import '../../styles/variables';

.textMargin {
  margin-left: $space-between-text-and-flag;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.container {
  margin: 10px 10px 0 0;

  @media print {
    display: none;
  }
}

.flag {
  width: $flag-width;
  height: $flag-height;
}
