@import './colors';
@import './fonts';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/buttons';

.btn-student{
  @include button-variant(#fff, $color-green, $color-green-median)
}

.btn-teacher{
  @include button-variant(#fff, $color-blue, $color-blue-median)
}

.btn-xxl{
  @include button-size(0, 0, 1.5em, 1em, 0);
  font-family: $font-default;
  font-weight: 300;
  margin: 10px 20px;
  width: 250px;
  height: 100px;
  border: none;
}
