@import "../../../node_modules/highlight.js/styles/idea";

// scratch code is colored and stands nice by itself
pre.blocks,
code.b {
  background-color: inherit;
  border: 0;
}

// manual colors for scratch code
// example: Press `motion`{.blockmotion} ...
code {
  &.blockmotion { background-color: #505fd7; }
  &.blocklooks { background-color: #9b33d9; }
  &.blocksound { background-color: #d000c2; }
  &.blockpen { background-color: #00a16f; }
  &.blockdata { background-color: #ff7500; }
  &.blockevents { background-color: #d38117; }
  &.blockcontrol { background-color: #e9aa00; }
  &.blocksensing { background-color: #00a3e6; }
  &.blockoperators { background-color: #00c114; }
  &.blockmoreblocks { background-color: #71009a; }

  &.blockmotion,
  &.blocklooks,
  &.blocksound,
  &.blockpen,
  &.blockdata,
  &.blockevents,
  &.blockcontrol,
  &.blocksensing,
  &.blockoperators,
  &.blockmoreblocks {
    color: #fff !important;
  }
}

// horisontal scroll on screens, do not wrap
// not keyword negate _whole_ media query,
// making `(not print) and (min-width: @screen-sm)` impossible
@media aural, braille, handheld, projection, screen, tty, tv, embossed {
  pre > code {
    word-wrap: normal;
    white-space: pre;
  }
}
