@import './fonts';
@import './colors';

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: $color-green-dark;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $color-green-dark;
}

.navbar-teacher {
  background-color: $color-blue-light !important;
}

.toggle-teacher {
  border-color: $color-blue-dark !important;
  .icon-bar {
    background-color: $color-blue-dark !important;
  }
}

.navbar-default {
  border-radius: 0;
  background-color: $color-green-light;
  color: $color-green-dark;
  font-family: $font-default;
  font-weight: 300;
}

// It seems like overflow-y is set to "auto" for screensize below screen-md-min (768px)
// (see node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_navbar.scss:60)
// but this doesn't make any sense to me.
// Perhaps the menu shouldn't show like that on mobile, but should be displayed differently?
// Setting this to visible to always show dropdown menus for now.
.navbar-collapse.in {
  overflow-y: visible;
}

