@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.label {
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-weight: normal;
  &:hover {
    cursor: pointer;
  }
}

.labelText {
  margin-left: 7px;
}

.tagInfo {
  &:hover {
    color: $color-gray;
  }
}

.glyph {
  font-size: 1.1em;
}

.popButton {
  @include popoverButton;
}
