@import '../../styles/variables';

.container {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.label {
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-weight: normal;
  &:hover {
    cursor: pointer;
  }
}

.labelText {
  margin-left: 7px;
}

.tagInfo {
  &:hover {
    color: $color-gray;
  }
}

.popButton {
  padding-top: 2px;
  &,
  &:hover,
  &:active:focus,
  &:focus {
    background: transparent;
    text-decoration: none;
    border: none;
  }
}

.glyph {
  font-size: 1.1em;
}
