@import '../../styles/variables';

.name {
  font-size: 1.125em;
  &:hover {
    cursor: pointer;
  }
}

.somethingChecked {
  color: $color-gray-medium;
  &:hover {
    cursor: not-allowed;
  }
}

.glyph {
  font-size: 0.8em;
  padding-right: 0.5em;
}
