@import '../../assets/css/colors';

$color-green-dark: #265732;
$color-gray-light: #dadada;

.filterHeading {
  background-color: $color-green-light !important;
  color: $color-green-dark !important;
}

.bottomBorder:not(:last-child) {
  border-bottom: 1px solid $color-gray-light;
}

.noPaddingTop {
  padding-top: 0;
}
