@import '../../styles/variables';

.label {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.tagInfo {
  float: right;
  padding-top: 1px;
  cursor: pointer;

  &:hover {
    color: $color-gray;
  }

  &:active {
    color: black;
  }
}
