@import '../../styles/variables';

.header {
  font-size: 1.125em;
  font-weight: bold;
}

.filterInfoButton {
  &,
  &:hover,
  &:active:focus,
  &:focus {
    background: transparent;
    text-decoration: none;
    border: none;
    outline: none;
  }
  color: gray;
  font-size: 1.1em;
  float: right;
  padding: 0;
  transition: 0.1s;
}
