@import '../../styles/variables';

.filterInfo {
  font-size: 1.1em;
  float: right;
  padding-top: 1px;
  cursor: pointer;

  &:hover {
    color: $color-gray;
  }

  &:active {
    color: black;
  }
}

.marginTop {
  margin-top: 16px;
}
