@import '../../styles/variables';

.container {
  margin-top: 100px;
  padding-top: 20px;
  font-weight: 300;
  font-family: $font-family-roboto;
  a {
    text-decoration: none;
    color: black;
  }

  @media print {
    display: none;
  }
}

.containerStudent {
  composes: container;
  background-color: $color-green-light;
}

.containerTeacher {
  composes: container;
  background-color: $color-blue-light;
}

.inline {
  display: inline-block;
  margin: 20px 10px;
}

.svg {
  width: 100px;
  height: auto;
  transition: all 0.075s ease-in-out;
}

.img {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  width: auto;
  height: 50px;
  transition: all 0.075s ease-in-out;
}

.divider {
  border-top: 1px solid;
  width: 50%;
}

.contribute {
  font-size: 1.5em;
}

.sponsors {
  text-align: center;
  margin-top: 20px;
}
