@import '../../styles/variables';

.container {
  margin-top: 100px;
  padding-bottom: 20px;
  font-weight: 300;
  font-family: $font-family-roboto;
  a {
    text-decoration: none;
  }

  @media print {
    display: none;
  }
}

.containerStudent {
  composes: container;
  background-color: $color-green-light;
  color: $color-green-dark;
  a {
    color: $color-green-dark;
  }
}

.containerTeacher {
  composes: container;
  background-color: $color-blue-light;
  color: $color-blue-dark;
  a {
    color: $color-blue-dark;
  }
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
  margin: 20px 10px;
}

.svg {
  width: 100px;
  height: auto;
  transition: all 0.075s ease-in-out;
}

.img {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  width: auto;
  height: 50px;
  transition: all 0.075s ease-in-out;
}

.divider {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid;
  width: 50%;
}

.svg:hover,
.img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
}
