@import '../../styles/variables';

$flag-width: 30px;
$flag-height: 20px;
$space-between-text-and-flag: 10px;

.language {
  margin-right: $flag-width + $space-between-text-and-flag;
}

.onlyFlag {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  margin-right: $flag-width + $space-between-text-and-flag;
}

.flag {
  width: $flag-width;
  height: $flag-height;
  float: right;
}

.gadgetContainer {
  display: inline-block;
  padding: 3px 5px;
}
