@import '../../styles/variables';

.languageItemContainer {
  padding: 0 0 1px; // To get alignment correct relative to student/teacher button
}

.language {
  margin-left: 10px; // space between text and flag
}

.onlyFlag {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

@mixin gadgetContainer {
  display: inline-block;
  padding: 3px 5px;
}

.gadgetContainerWhite {
  @include gadgetContainer;
}

.gadgetContainerDark {
  @include gadgetContainer;

  ul {
    background-color: #222;

    a:hover {
      background-color: #444;
    }
  }
}

.whiteText {
  color: white;
}
