@import '../../styles/variables';

.language {
  margin-left: $space-between-text-and-flag;
}

.onlyFlag {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.flag {
  margin: 1px 0;
  width: $flag-width;
  height: $flag-height;
}

.gadgetContainer {
  display: inline-block;
  padding: 3px 5px;
}
