@import '../../assets/css/fonts';

$color-header: #96ed8a;
$color-search-border: #70aa66;

.fontHeader {
  font-family: $font-type-default;
  font-weight: 300;
  font-size: 15pt;
  color: $color-search-border;
}

.header {
  composes: fontHeader;
  display: flex;
  padding: 20px;
  height: 60px;
  background-color: $color-header;
  justify-content: space-between;

  .lhs {
    align-self: center;
  }
  .rhs {
    display: flex;
    align-self: center;
    height: 30px;

    input[type=text] {
      align-self: center;
      padding-left: 10px;
      height: inherit;
      border: 1px solid $color-search-border;
      border-radius: 5px;
      outline: none;
      color: black;
    }
    input[type=text]:focus {
      border: 2px solid $color-search-border;
    }
  }
}
