@import '../../styles/variables';

.linkBase {
  text-decoration: none !important;
  font-size: $font-size-xlarge;
}

.linkStudent {
  composes: linkBase;
  color: $color-green-dark;
}

.linkTeacher {
  composes: linkBase;
  color: $color-blue-dark;
}
