@import '../../assets/css/colors';

.fontButton {
  font-size: 10pt;
}

.button {
  composes: fontButton;
  align-self: center;
  margin: 0 0 0 20px;
  width: 60px;
  height: inherit;
  border-radius: 5px;
  color: white;
}

.button:focus {
  outline: 0;
}

.from {
  composes: button;
  background-color: $color-green;
  border: 1px solid $color-green-median;
}

.to {
  composes: button;
  background-color: $color-blue;
  border: 1px solid $color-blue-median;
}
