$color-from: #46cc46;
$color-to: #46cccc;
$color-border: #70aa66;

.fontButton {
  font-size: 10pt;
}

.button {
  composes: fontButton;
  align-self: center;
  margin: 0 0 0 20px;
  width: 60px;
  height: inherit;
  border-radius: 5px;
  color: white;
}

.button:focus {
  outline: 0;
}

.from {
  composes: button;
  background-color: $color-from;
  border: 1px solid $color-border;
}

.to {
  composes: button;
  background-color: $color-to;
  border: 1px solid $color-border;
}
