@import '../../styles/variables';

.font {
  font-family: $font-family-roboto;
  font-weight: 300;
  font-size: 1em;
}

/* Container for improve box */
.container {
  margin: 10px 0;

  @media print {
    display: none;
  }
}

.improvePageBox {
  composes: font;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  margin: auto;
  border-radius: 10px;
}

/* Student / Teacher mode */
.student {
  composes: improvePageBox;
  background-color: $color-green-light;
}

.teacher {
  composes: improvePageBox;
  background-color: $color-blue-light;
}

/* Row containing the text */

/* Box-shadow works as a <hr/> to differentiate text and links */

@mixin bottom-line($color) {
  margin: 5px 20px 15px;
  box-shadow: 0 8px 6px -6px $color;
}

.textRowStudent {
  @include bottom-line($color-green-median-light);
}

.textRowTeacher {
  @include bottom-line($color-blue-median-light);
}

/* Row containing the links */
.linkRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div {
    margin: 10px;
  }
}

/* Media screen */
@media only screen and (max-width: 300px) {
  .textRowStudent,
  .textRowTeacher {
    max-width: 150px;
  }
}
