@import '../../styles/variables';

.textMargin {
  margin-left: 10px; // space between text and flag;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.container {
  margin-right: 10px;

  @media print {
    display: none;
  }
}
