@import '../styles/variables';

.appContainer {
  overflow-x: hidden; // Prevents page to scroll horizontally on e.g. phones if content goes outside width
  font-family: Helvetica;
}

.dyslexia {
  overflow-x: hidden;
  font-family: $font-family-dyslexic;
}
