@import '../styles/variables';

@mixin container {
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
  flex-direction: column;
}

.appContainer {
  @include container;
  font-family: $font-family-standard;
}

.contentDyslexia {
  @include container;
  font-family: $font-family-dyslexic;
}

.stickyFooter {
  flex: 1;
}
