@import '../styles/variables';

.appContainer {
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
  flex-direction: column;
  font-family: $font-family-standard;
}

.dyslexia {
  font-family: $font-family-dyslexic;
}

.darkmode {
  background-color: black;
  color: white;
}

.stickyFooter {
  flex: 1;
}
