.content{
  margin-top: 75px;
}

.column{
  display: inline-block;
  vertical-align: top;
}

.leftColumn{
  composes: column;
  width: 25%;
}

.rightColumn{
  composes: column;
  width: 70%;
  margin-left: 5%;
}
