@import '../assets/css/fonts';

.center {
  text-align: center;
}

.fontTitle {
  font-family: $font-code;
  font-size: 50pt;
  font-weight: 300;
}

.title {
  composes: fontTitle center;
  margin: 50px;

  .t1 {
    color: #000000;
  }
  .t2 {
    color: #71bf44;
  }
}

@media (max-width: 700px) {
  .fontTitle {
      font-size: 25pt;
  }
}
