@import '../styles/mixins';
@import '~bootstrapStyles/mixins/image';

.container {
  max-width: 800px;
  padding: 44px 15px;
  margin: -44px auto 0;

  // responsive images
  & figure > img {
    @include img-responsive;
    margin: 0 auto; // centered
    padding: 20px;
  }

  // responsive font
  @include responsiveFontSizes;
}

.license {
  margin: 30px 0;
}

.darkmode {
  color: white;
  background-color: black;
}

.lightmode {
  color: black;
  background-color: white;
}
