.filter {
  margin-top: 63px;
}

.headerRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 5px;
}

.courseInfoBtn {
  &,
  &:hover,
  &:active:focus,
  &:focus {
    outline: none;
  }
}

.glyph {
  padding-right: 6px;
}

/* Media screen */
@media only screen and (max-width: 1191px) {
  .courseInfoBtn {
    margin: 10px 0 10px 0;
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .headerRow {
    display: inline-block;
  }
}
