@import '../../styles/variables';

.link {
  color: black;
  border-bottom: 1px black dotted;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.infoBox {
  padding: 10px;
  max-width: 700px;
  margin: 0 16px;
  background-color: $color-blue-lighter;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  font-family: $font-family-roboto;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
  
.glyphicon {
  &,
  &:hover,
  &:active:focus,
  &:focus {
    background: transparent;
    text-decoration: none;
    border: none;
    outline: none;
  }
  color: gray;
  font-size: 2em;
  transition: 0.1s;
}

.stickToRight {
  &,
  &:hover,
  &:active:focus,
  &:focus {
    background: transparent;
    text-decoration: none;
    border: none;
    outline: none;
  }
  color: gray;
  font-size: 1.1em;
  transition: 0.1s;
  position: absolute;
  right: 5px;
  top: 5px;
}




