@import '../../styles/variables';

.link {
  color: black;
  border-bottom: 1px black dotted;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.center {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
}

.infoBox {
  padding: 10px;
  max-width: 700px;
  background-color: $color-blue-lighter;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  font-size: 0.6em;
  font-weight: 300;
  position: relative;
  margin-bottom: 30px;
}

.plusSign {
  &,
  &:hover,
  &:active:focus,
  &:focus {
    background: transparent;
    text-decoration: none;
    border: none;
    outline: none;
  }
  color: gray;
  font-size: 1.2em;
  transition: 0.1s;
}
