@import '../../styles/variables';

.link {
  color: black;
  border-bottom: 1px black dotted;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.infoBoxContainer {
  display: flex;
  justify-content: center;
}

.infoBox {
  padding: 10px;
  max-width: 700px;
  margin: 0 16px;
  background-color: #f7f7f7;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  font-family: $font-family-roboto;
  font-size: 16px;
  font-weight: 300;
  padding: 5px;

  .center {
    text-align: center;
  }
}

.buttonItem {
  display: flex;
  justify-content: center;
}

.tempClass {
  margin-left: auto;
}



