@import '../../styles/variables';

.link {
  color: black;
  border-bottom: 1px black dotted;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.infoBox {
  padding: 10px;
  max-width: 700px;
  background-color: $color-blue-lighter;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  font-family: $font-family-roboto;
  font-size: 16px;
  font-weight: 300;
}

.infoBoxRow {
  display: flex;
  flex-direction: row;

  .infoBoxItem {
    text-align: center;
  }
  div {
    padding: 5px;
  }

  .center {
    text-align: center;
  }
}
