.w1 {
  maring: 0 auto;
  text-align: center;
}

.w2 {
  paddding: 20px;
}

.button {
  padding: 0 10px 0 10px;
  margin: 5px;
  display: inline-block;
}

.info {
  background-color: #f7f7f7;
  display: inline-block;
}

.teacherList {
  list-style-position: inside;
}

div {
  border: 1px solid red;
}
