@import '../styles/variables';

$button-blue: #46cccc;
$button-blue-hover: #3a9b94;
$button-green: #46cc46;
$button-green-hover: #359e37;

.fontButton {
  font-family: $font-family-roboto;
  font-weight: 300;
  font-size: 15pt;
  color: white;
}

.button {
  composes: fontButton;
  margin: 10px 20px;
  width: 250px;
  height: 100px;
  border: none;
  display: inline-block;
  transition: all 0.1s ease-in-out;
}

.green {
  composes: button;
  background-color: $button-green;
  &:hover {
    background-color: $button-green-hover;
  }
}

.blue {
  composes: button;
  background-color: $button-blue;
  &:hover {
    background-color: $button-blue-hover;
  }
}
