@import '../assets/css/fonts';

$info-background: #f7f7f7;
$info-border: #d6d6d6;

.container {
  margin: 0 auto;
  text-align: center;
}

.fontInfo {
  font-family: $font-default;
  font-weight: 300;
  font-size: 12pt;
  color: black;
}

.sectionButton {
  max-width: 600px;
  display: inline-block;
  text-align: center;
}

.sectionInfo {
  composes: fontInfo;
  margin: 20px 0 0 0;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid $info-border;
  background-color: $info-background;
}
