// Fonts

@import 'fonts';

.fontButton {
  font-family: $default-font;
  font-weight: 300;
  font-size: 15pt;
  color: white;
}

.fontInfo {
  font-family: $default-font;
  font-weight: 300;
  font-size: 12pt;
  color: black;
}

// Variables

$button-text: #ffffff;
$button-teacher: #46cccc;
$button-student: #46cc46;
$button-teacher-hover: #3a9b94;
$button-student-hover: #359e37;
$info-background: #f7f7f7;
$info-border: #d6d6d6;

// FrontPageButton

.container {
  margin: 0 auto;
  text-align: center;
}

.button {
  composes: fontButton;
  margin: 10px 20px;
  width: 250px;
  height: 100px;
  border: none;
  display: inline-block;
  transition: all .1s ease-in-out;
}

.buttonTeacher {
  composes: button;
  background-color: $button-teacher;
  &:hover {
    background-color: $button-teacher-hover;
  }
}

.buttonStudent {
  composes: button;
  background-color: $button-student;
  &:hover {
    background-color: $button-student-hover;
  }
}

.sectionButton {
  max-width: 600px;
  display: inline-block;
  text-align: center;
}

.sectionInfo {
  composes: fontInfo;
  margin: 20px 0 0 0;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid $info-border;
  background-color: $info-background;
}
