// FrontPageButton

.container {
  maring: 0 auto;
  text-align: center;
}

.button {
  padding: 0 10px 0 10px;
  margin: 5px;
  display: inline-block;
}

.info {
  background-color: #f7f7f7;
  display: inline-block;
}

// TeacherPage

.section {
  padding: 10px;
  margin: 0 auto;
}

.sectionCol {
  composes: section;
  max-width: 500px;
  display: inline-block;
  text-align: justify;
}

.link {
  text-decoration: none;
}

.container .section {
  border: 1px solid green;
}
