@import '../styles/variables';

.link {
  text-decoration: none !important;
  color: black;
  border-bottom: 1px black dotted;
}

.fontInfoBox {
  font-family: $font-family-roboto;
  font-weight: 300;
}

.infoBox {
  display: flex;
  composes: fontInfoBox;
  padding: 5px;
  margin: 0 auto;
  max-width: 500px;
  
  border-radius: 10px;
}

.infoBoxRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    padding: 5px;
  }
}

.infoBoxStudent {

  background-color: red;

 /*
 composes: infoBox;
  background-color: $color-green-light;
  color: $color-green-dark;
  a {
    color: $color-green-dark;
  }
  */
}

.infoBoxTeacher {

background-color: yellow;

  /*
  composes: infoBox;
  background-color: $color-blue-light;
  color: $color-blue-dark;
  a {
    color: $color-blue-dark;
  }
  */
}
