@import '../styles/variables';

.link {
  text-decoration: none !important;
  text-align: center;
  color: black;
  border-bottom: 1px black dotted;
}

.fontImprovePageBox {
  font-family: $font-family-roboto;
  font-weight: 300;
}

.improvePageBox {
  display: flex;
  flex-direction: column;
  text-align: center;

  composes: fontImprovePageBox;
  padding: 5px;
  margin: 10px auto;
  max-width: 700px;
  border-radius: 10px;
}

.improvePageBoxRow {
  display: flex;
  justify-content: center;

  div {
    padding: 0 50px;
  }
}

.improvePageBoxStudent {
 composes: improvePageBox;
 
  background-color: $color-green-light;
  color: $color-green-dark;
  a {
    color: $color-green-dark;
  }
  
}

.improvePageBoxTeacher {
  composes: improvePageBox;
  
  background-color: $color-blue-light;
  color: $color-blue-dark;
  a {
    color: $color-blue-dark;
  }
  
}
