.small {
  margin-right: 3px;
  width: 15px;
  height: 15px;
  vertical-align: top;
}

.medium {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  vertical-align: top;
}

.large {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  vertical-align: top;
}
