@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);

.fontNavBar {
  font-family: "Roboto", "Verdana";
  font-weight: 300;
  font-size: 30pt;
  color: black;
}

.container {
  background-color: #b1daae;
  height: 40px;
  width: 100%;
  vertical-align: middle;
}
