$color-header: #96ed8a;
$color-search-border: #70aa66;

.header {
  display: flex;
  padding: 10px;
  height: 60px;
  background-color: $color-header;
  justify-content: space-between;

  .lhs {
    align-self: center;
  }
  .rhs {
    align-self: center;

    input[type=text] {
      height: 30px;
      border: 1px solid $color-search-border;
      border-radius: 10px;
      outline: none;
    }
    input[type=text]:focus {
      border: 2px solid $color-search-border;
    }
  }
}

::-webkit-input-placeholder {
  padding-left: 5px;
}
::-webkit-input-placeholder {
  padding-left: 5px;
}
::-moz-placeholder {
  padding-left: 5px;
}
:-ms-input-placeholder {
  padding-left: 5px;
}

.languageGroup {
  display: flex;
  justify-content: flex-end;
  padding: 5px;

  .languageItem {
    align-self: center;
    padding: 0 0 0 5px;
    width: 30px;
    height: 20px;
  }
}
