@import '../styles/variables';

.popover {
  max-width: $screen-xs-max;
  img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 250px;
  }

  @media screen and (max-width: $screen-xs-max) {
    margin-right: 0;
    img {
      max-width: 100px;
      max-height: 125px;
    }
  }
}

@mixin content {
  display: flex;
  justify-content: space-between;
  img {
    margin-right: 15px;
  }
}

.content {
  @include content;
}

.contentDyslexia {
  @include content;
  font-family: $font-family-dyslexic;
}
