@import '../styles/variables';

.popover {
  max-width: $screen-xs-max;
  font-size: 1.3em;
  img {
    max-height: 200px;
  }

  @media screen and (max-width: $screen-xs-max) {
    font-size: 1em;
    margin-right: 0;
    img {
      max-height: 100px;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  img {
    margin-right: 15px;
  }
}
