.teacherContainer {
  padding: 0 10px 20px 10px;
  text-align: center;
}

.sectionTeacher {
  max-width: 820px;
  padding: 0 10px;
}

.sectionTeacherInline {
  max-width: 400px;
  padding: 0 10px;
  display: inline-block;
  text-align: justify;
}

.link {
  text-decoration: none;
  color: black;
  border-bottom: 1px black dotted;
}
