$color-student: #46cc46;
$color-teacher: #46cccc;

.button {
  padding: 10px;
  margin: 0 0 0 30px;
  width: 100px;
  border: 1px solid #000000;
  color: white;
}

.from {
  composes: button;
  background-color: $color-student;
}

.to {
  composes: button;
  background-color: $color-teacher;
}
