@import "../../styles/variables";

a:hover {
  text-decoration: none;
}

.lessonItem {
  font-size: 1.3em;

  &:hover {
    cursor: pointer;
    color: darken($brand-primary, 20%);
  }
}

.instructionBtn {
  float: right;
  margin-left: 0.5em;
}
