@import "~bootstrapStyles/variables";

a:hover {
  text-decoration: none;
}

.lessonItem {
  &:hover {
    cursor: pointer;
    color: darken($brand-primary, 20%);
  }
}

.instructionBtn {
  float: right;
  margin-left: 0.5em;
}
