.level-1, .level-2, .level-3, .level-4 {
  background-repeat: no-repeat;
  background-size:20px 20px;
  background-position: 10px;
  display:block;
  padding-left: 40px !important;
}
.level-1 {
  background-image: url('../../assets/img/level/level1.png');
}
.level-2 {
  background-image: url('../../assets/img/level/level2.png');
}
.level-3 {
  background-image: url('../../assets/img/level/level3.png');
}
.level-4 {
  background-image: url('../../assets/img/level/level4.png');
}
