$iconSize: 1em;
.level {
  display: inline-block;
  vertical-align: middle;
  margin-right: $iconSize/2;
}

.level-1 {
  composes: level;
  width: $iconSize;
  height: $iconSize;
  background: #7DC87D;
  border-radius: $iconSize/2;
}

.level-2 {
  composes: level;
  background-color: #3F54FF;
  width: $iconSize;
  height: $iconSize;
}

.level-3 {
  composes: level;
  background-color: #FF3535;
  width: $iconSize;
  height: $iconSize*0.75;
}

.level-4 {
  margin-right: $iconSize/2;
  width: 0;
  height: 0;
  position: relative;
  top: -$iconSize;
  border: $iconSize/2.25 solid transparent;
  border-top-width: 0;
  border-bottom: $iconSize/2 solid black;

  &:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: $iconSize*1.6;
    left: -$iconSize/2.25;
    border: $iconSize/2.25 solid transparent;
    border-top: $iconSize/2 solid black;
  }
}
