.level-1, .level-2, .level-3, .level-4 {
  $iconSize: 20px;
  background-repeat: no-repeat;
  background-size:$iconSize $iconSize;
  background-position: 10px;
  display:block;
  min-height: $iconSize;
  min-width: $iconSize;
  padding-left: 40px;
}
.level-1 {
  background-image: url('../../assets/graphics/level/level1.png');
}
.level-2 {
  background-image: url('../../assets/graphics/level/level2.png');
}
.level-3 {
  background-image: url('../../assets/graphics/level/level3.png');
}
.level-4 {
  background-image: url('../../assets/graphics/level/level4.png');
}
