---
permalink: /404.html
---
<!DOCTYPE html>
<html>
<head>
    <script>
      sessionStorage.redirect = location.href;
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;URL='<%= htmlWebpackPlugin.options.redirectUrl %>'"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!--All this nonsence is used to get the file size above 512 bytes-->
    <!--This must be done so that it works in IE-->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</body>
</html>
