<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.options.appcss %>
</head>
<body>
    <div id="app"><%= htmlWebpackPlugin.options.appcontent %></div>
    <script type="text/javascript" src="http://scratchblocks.github.io/js/scratchblocks-v3.1-min.js"></script>
    <script type="text/javascript" src="http://scratchblocks.github.io/js/translations-all-v3.1-min.js"></script>
</body>
</html>
