@import '../../styles/variables';

.container {
  border-radius: 10px;
  max-width: 700px;
  padding: 20px;
}

.containerStudent {
  composes: container;
  background-color: $color-green-lighter;
  border: 1px solid $color-green-light;
}

.containerTeacher {
  composes: container;
  background-color: $color-blue-lighter;
  border: 1px solid $color-blue-light;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-top: 62px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}
