@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.lessonItem {
  &:hover {
    cursor: pointer;
    color: darken($brand-primary, 20%);
  }

  @include responsiveFontSizes;
}

.instructionBtn {
  float: right;
  margin-left: 0.5em;
}
