@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.lessonItem {
  &:hover {
    cursor: pointer;
    color: darken($brand-primary, 20%);
  }

  @include responsiveFontSizes;
}

.row {
  display: flex;
  align-items: center;
}

.instructionBtn {
  margin-left: auto;
}

.title {
  padding: 2px 0;
}

.tooltip {
  img {
    max-width: 180px;
  }
}
