@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.row {
  display: flex;
  align-items: center;
  position: relative;
}

.progressBar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
}

.instructionBtn {
  margin-left: auto;
}

.title {
  padding: 2px 0;
  margin-right: 3px;
}

.progress {
  opacity: 0.5;
}

.tooltip {
  :global(.tooltip-inner) {
    max-width: 360px;
  }
  img {
    max-height: 180px;
  }
}
