@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.row {
  display: flex;
  align-items: center;
  position: relative;
}

@mixin progressBar($color) {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  background-color: $color;
}

.progressBarLevel1 { @include progressBar($color-level1); }
.progressBarLevel2 { @include progressBar($color-level2); }
.progressBarLevel3 { @include progressBar($color-level3); }
.progressBarLevel4 { @include progressBar($color-level4); }

.instructionBtn {
  margin-left: auto;
  margin-right: 7px;
}

.title {
  padding: 2px 0;
  margin-right: 3px;
}

.progress {
  opacity: 0.5;
}

.marginFix {
  margin-left: auto;
}

.glyph {
  font-size: 1.3em;
  color: black;

  &:hover {
    color: $color-gray;
  }
}
