@import '../../styles/variables';

.courseItem {
  color: $color-gray-dark;
  margin: 25px auto;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 175px;
  &:link {
    text-decoration: none;
  }
  &:hover {
    color: inherit;
    cursor: pointer;
    white-space: nowrap;
    .courseLogo {
      padding: 0;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    &:hover {
      .courseLogo {
        padding: 5px;
      }
      .popoverGlyph:hover {
        color: black;
      }
    }
  }
}

.courseLogo {
  max-width: 100%;
  padding: 5px;
  height: 170px;
  margin-bottom: 15px;
}

.courseName {
  white-space: nowrap;
  font-size: 1.3em;
  color: black;

  @media screen and (max-width: $screen-xs-max) {
    font-size: 1.1em;
  }
}

.lessonCount {
  color: $color-gray;
}

.externalGlyph {
  margin-left: 5px;
}

.popoverGlyph {
  margin: 0 3px 0 5px;

  &:hover {
    color: $color-gray;
  }
}
