@import '../../styles/variables';

.courseItem {
  color: $color-gray-dark;
  margin: 25px auto;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 175px;
  cursor: pointer;
  &:link {
    text-decoration: none;
  }
}

.courseLogo {
  max-width: 100%;
  padding: 5px;
  height: 170px;
  margin-bottom: 15px;

  @media screen and (min-width: $screen-sm-min) {
    &:hover {
      padding: 0; // Remove padding to make the logo look bigger
    }
  }
}

.courseName {
  white-space: nowrap;
  font-size: 1.3em;
  color: black;

  @media screen and (max-width: $screen-xs-max) {
    font-size: 1.1em;
  }
}

.externalGlyph {
  margin-left: 5px;
}

.popButton {
  margin-bottom: 2px;
  &,
  &:hover,
  &:focus {
    background: transparent;
    text-decoration: none;
    border: none;
  }
}

.popoverGlyph {
  margin-top: 3px;
  font-size: 1.4em;
  &:hover {
    color: $color-gray;
  }
}
