@import '../../assets/css/colors';

.courseItem {
  color: $color-gray-dark;
  margin: 25px auto;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  &:hover {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    .courseLogo {
      padding: 0;
    }
  }
}

.courseLogo {
  max-width: 100%;
  padding: 5px;
  height: 120px;
  margin-bottom: 15px;
}

.courseName {
  font-size: 1.3em;
}

.lessonCount {
  font-size: 0.9em;
  color: $color-gray;
}
