@import '../../styles/variables';

.courseItem {
  color: $color-gray-dark;
  margin: 25px auto;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 175px;
  &:hover {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    .courseLogo {
      padding: 0;
    }
  }
}

.courseLogo {
  max-width: 100%;
  padding: 5px;
  height: 170px;
  margin-bottom: 15px;
}

@media screen and (max-width: 500px) {
  .courseLogo {
    height: 140px;
  }
}

.courseName {
  font-size: 1.3em;
}

.lessonCount {
  color: $color-gray;
}
