@import '../../styles/variables';

.container {
  color: $color-gray;
  text-align: center;
}

.center {
  display: inline-block;
  width: 100%;
}

.flag {
  padding: 0 5px;
  white-space: nowrap;
}

.flagCount {
  padding-left: 5px;
}
