@import '../../styles/variables';

.containerDark {
  color: $color-gray;
  text-align: center;
}

.containerWhite {
  color: lightgray;
  text-align: center;
}

.center {
  display: inline-block;
  width: 100%;
}

.flag {
  padding: 0 5px;
  white-space: nowrap;
}
